In [1]:
import pandas as pd
from sklearn import model_selection, ensemble, linear_model, metrics

In [2]:
df = pd.read_csv('diamonds.csv')
df.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

In [3]:
df.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [4]:
dict_cut = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
dict_color = {'J': 1, 'I': 2, 'H': 3, 'G': 4, 'F': 5, 'E': 6, 'D': 7}
dict_clarity = {'I1': 1, 'SI2': 2, 'SI1': 3, 'VS2': 4, 'VS1': 5, 'VVS2': 6, 'VVS1': 7, 'IF': 8}

In [5]:
df['cut'] = df['cut'].map(dict_cut)
df['color'] = df['color'].map(dict_color)
df['clarity'] = df['clarity'].map(dict_clarity)

In [6]:
df.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,5,6,2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,4,6,3,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,2,6,5,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,4,2,4,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,2,1,2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,3,1,6,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,3,2,7,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,3,3,3,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,1,6,4,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,3,3,5,59.4,61.0,338,4.00,4.05,2.39

In [7]:
split = int(df.shape[0]*0.8)
df_train = df.iloc[:split]
df_test = df.iloc[split:]
print(df.shape[0])
print(df_train.shape)
print(df_test.shape)
print(df_train.shape[0]+df_test.shape[0])

53940
(43152, 11)
(10788, 11)
53940

In [8]:
x_df_train = df_train.drop(['price'], axis=1)
y_df_train = df_train['price']

In [9]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x_df_train, y_df_train, test_size=0.2, random_state=42)

In [19]:
# reg = ensemble.RandomForestRegressor(max_depth=2, random_state=0)
# reg = linear_model.BayesianRidge()
# reg = linear_model.Lasso(alpha=0.1)
reg = linear_model.Ridge(alpha=.5)
reg.fit(x_train, y_train)
test_y_predict_reg = reg.predict(x_test)
ra = round(metrics.explained_variance_score(y_test, test_y_predict_reg, multioutput='uniform_average'),6)
print(ra)

0.915658

In [53]:
x_test['1'] = y_test
x_test['2'] = test_y_predict_reg
x_test

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,1,2
14768,14769,1.01,3,4,4,61.4,59.0,6.42,6.48,3.96,5944,6019.951445
33287,33288,0.31,3,4,3,62.8,55.0,4.32,4.38,2.73,462,861.450949
2181,2182,0.71,5,7,5,62.2,55.0,5.74,5.71,3.56,3136,3627.300032
27850,27851,0.34,5,3,6,60.9,55.0,4.52,4.54,2.75,652,861.450949
13752,13753,1.00,4,5,4,59.9,60.0,6.11,6.07,3.65,5606,6019.951445
...,...,...,...,...,...,...,...,...,...,...,...,...
16604,16605,1.01,3,4,5,64.4,59.0,6.26,6.31,4.05,6632,6019.951445
40456,40457,0.50,5,3,3,62.4,56.0,5.07,5.09,3.17,1140,861.450949
35782,35783,0.32,5,5,7,61.0,56.0,4.42,4.43,2.70,912,861.450949
20632,20633,1.36,5,4,3,61.0,56.0,7.17,7.20,4.38,8927,6050.690938
1632,1633,0.70,5,6,5,62.7,57.0,5.65,5.70,3.56,3016,3627.300032